<!DOCTYPE html>
<html>
  <head>
    <title>VueUdemy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  </head>

  <body>
    <%= yield %>

  </body>
</html>
